*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heroColor: #1f2937;
    --heroMainSize: 48px;
    --heroMainWeight: 900;
    --heroMainColor: #f9faf8;
    --heroLinkSize: 18px;
    --heroLinkColor: #e5e7eb;
    --headSize: 24px;
    --headColor: var(--heroMainColor);
    --buttonColor: #3882f6;
    --infoSize: 36px;
    --infoWeight: 900;
    --infoColor: #1f2937;
    --quoteBack: #e5e7eb;
    --quoteSize: 36px;
    --quoteWeight: 100;
    --quoteColor: #1f2937;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#up {
    width: 100%;
    background: var(--heroColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#hero #logo {
    font-size: var(--headSize);
    color: var(--headColor);
    margin-right: auto;
    margin-left: 10%;
}

#hero .link {
    margin-right: 10px;
    font-size: var(--heroLinkSize);
    color: var(--heroLinkColor);
}

#hero .link.three {
    margin-right: 17%;
}

#main {
    width: 80%;
    height: 300px;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .img {
    background: #666;
    width: 50%;
    max-width: 500px;
    height: 70%;
    text-align: center;
    padding: 90px 0;
}

#main .text {
    width: 50%;
}

#main .text h1 {
    color: #f9faf8;
    width: 50%;
}
#main .text p {
    width: 85%;
}

button {
    width:100px;
    height: 30px;
    border-radius: 7px;
    background: #3882f6;
    border: none;
    color: #e5e7eb;
    cursor: pointer;
}