*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heroColor: #1f2937;
    --heroMainSize: 48px;
    --heroMainWeight: 900;
    --heroMainColor: #f9faf8;
    --heroLinkSize: 18px;
    --heroLinkColor: #e5e7eb;
    --headSize: 24px;
    --headColor: var(--heroMainColor);
    --buttonColor: #3882f6;
    --infoSize: 36px;
    --infoWeight: 900;
    --infoColor: #1f2937;
    --quoteBack: #e5e7eb;
    --quoteSize: 36px;
    --quoteWeight: 100;
    --quoteColor: #1f2937;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
#up {
    width: 100%;
    background: var(--heroColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#hero #logo {
    font-size: var(--headSize);
    color: var(--headColor);
    margin-right: auto;
    margin-left: 10%;
}

#hero .link {
    margin-right: 10px;
    font-size: var(--heroLinkSize);
    color: var(--heroLinkColor);
}

#hero .link.three {
    margin-right: 17%;
}

#main {
    width: 80%;
    height: 300px;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .img {
    background: #666;
    width: 50%;
    max-width: 500px;
    height: 70%;
    text-align: center;
    padding: 90px 0;
}

#main .text {
    width: 50%;
}

#main .text h1 {
    color: #f9faf8;
    width: 50%;
    font-weight: 900;
}
#main .text p {
    width: 85%;
}

button {
    width:100px;
    height: 30px;
    border-radius: 7px;
    background: #3882f6;
    border: none;
    color: #e5e7eb;
    cursor: pointer;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
}

#info h2 {
    font-weight: 900;
}

#squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10%;
}

#squares div {
    width: 15%;
    text-align: center;
    color: #000;
}

#squares .square {
    width: 100%;
    aspect-ratio: 1;
    border: 2px solid #3882f6;
    border-radius: 12px;
}

#quote {
    background: #e5e7eb;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quote h3 {
    font-weight: 100;
    font-size: 36px;
    color: #1f2937;
    width: 80%;
}

#quote p {
    margin-left: 50%;
}

#action {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#action div {
    background: #3882f6;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

#action div div:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
    width: 70%;
    color: #e5e7eb;
}

#action button {
    border: 2px solid #fff;
}

footer {
    width: 100%;
    height: 60px;
    background: #1f2937;
    color: #fff;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

a:hover {
    color: #3882f6;
}

img {
    width: 25px;
    aspect-ratio: 1;
}